/* colors */


$prepage-background-color: white;
$prepage-color: red;

$main-background-color: #fafafa;

$text-background-color: #eeedeb;

$table-color: #f8ecca;
$even-row-color: #dedcdc;
$odd-row-color: #ebeaea;

$question-part-instructions-color: #2370c0;

$item-with-kernel-top-border-color: #8b8179;

/* side colors */
$side-header-color: #ffffff;
$side-background-color: #c8cfd4;
$button-background-color: #c8cfd4;
$button-color:     black;
$button-wide-color: white;
$special-button-color: white;
$side-buttons-color-1: #ffffff;
$side-buttons-color-2: black;
$long-button-border-color: #c7b17d;
$long-button-color: black;
$extra-button-color: white;
$extra-button-disabled-color: #C8CFD4;
/* spite path */
$sprite_path: "../themes/amir/blue/sprite.png"

